///TODO: Delete This and Parent folder

@use '../../mixin' as *;

.menubar {
  height: 100%;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: $medium-bg-color;
  border-right: 1px solid $border-color;
}

.menubarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: 1px solid $border-color;
}

.headerContents {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid $border-color;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: $link-color;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  &:hover {
    background-color: $link-hover-bg-color;
    color: $link-hover-color;

    .linkIcon {
      color: $link-hover-color;
    }
  }

  &[data-active] {

    &,
    &:hover {
      background-color: $data-active-bg-color;
      color: $data-active-color;

      .linkIcon {
        color: $data-active-color;
      }
    }
  }
}

.linkIcon {
  color: $link-icon-color;
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}