@import '../../mixin';

.content {
  flex-grow: 1;
  // background-color: $dark-bg-color;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  margin-left: 220px;
}
