.content {
  flex-grow: 1;
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-9));
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}
