#root {
  margin: 0 ;
  text-align: center;
  height: 100vh;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mantine-color-pumpkin-light: rgba(255, 135, 54, 0.15);
  --mantine-color-pumpkin-light-color: #ff7518; /*pumpkin 5*/
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}