@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin full-viewport {
    height: 100vh;
    width: 100vw;
}

$dark-bg-color: color-mix(in srgb, var(--mantine-color-electricIndigo-5) 0%, black);
$medium-bg-color: color-mix(in srgb, var(--mantine-color-electricIndigo-5) 0%, black);

$link-hover-bg-color: color-mix(in srgb, var(--mantine-color-pumpkin-5) 10%, transparent);
$link-hover-color: var(--mantine-color-white);
$link-color: color-mix(in srgb, var(--mantine-color-pumpkin-5) 60%, black);
$link-icon-color: color-mix(in srgb, var(--mantine-color-cyanLime-3) 60%, black);

$border-color: color-mix(in srgb, var(--mantine-color-pumpkin-5) 25%, black);

$data-active-bg-color: var(--mantine-color-cyanLime-light);
$data-active-color: var(--mantine-color-cyanLime-light-color);

