@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin full-viewport {
    height: 100vh;
    width: 100vw;
}

@mixin absolute-left {
    position: absolute;
    top: 0;
    height: 100vh;
    transition: transform 0.3s ease;
}

$dark-bg-color: #121212;
$medium-bg-color: #1e1e1e;

$content-bg-color-start: #800000;
$content-bg-color-menu-end: #400000;

$content-bg-color-end: #000000;

$link-color: #d0d0d0; // Default text/link
$link-hover-color: #ffffff; // On hover, sharp white
$link-hover-bg-color: #1a1a1a; // Dark gray hover background
$link-icon-color: #bbbbbb; // Slightly lighter gray for icons

$border-color: #2f2f2f00;

$data-active-bg-color: #630000; // Slight highlight for active
$data-active-color: #ffffff; // Text on active